---
import Card from '@/components/Card.astro';
import CardContent from '@/components/CardContent.astro';
import CardFooter from '@/components/CardFooter.astro';
import CardHeader from '@/components/CardHeader.astro';
import Input from '@components/Input.astro';
import Layout from '@layouts/Layout.astro';
import Logo from '@assets/logo.webp'
---

<Layout title="P치gina de inicio">
	<Card>
		<section class="h-1/5 flex items-center">
      <CardHeader logo={Logo.src} title="P치gina de inicio" />
    </section>
    <section class="h-3/5 flex">
      <CardContent title="Sistema de Retenciones">
        <Input id="rif" label="Rif:" placeholder="Ingrese su rif" />
				<Input id="password" label="Contrase침a:" placeholder="Ingrese su contrase침a" type="password" />
      </CardContent>
    </section>
    <section class="h-1/5 flex items-center">
      <CardFooter />
    </section>
	</Card>
</Layout>