---
interface Props {
  title?: string;
}

---
<div class="flex items-center justify-center h-screen">
  <div class="bg-white rounded-lg shadow-lg p-8 max-w-md w-full h-3/5">
    <slot />
  </div>
</div>