---
interface Props {
  id: string;
  label?: string;
  placeholder?: string;
}
const { id, label = "", placeholder = "" } = Astro.props as Props;
---
<div>
  <label for={id}>{label}</label>
<input id={id} type="text" placeholder={placeholder} class="border-2 border-border rounded p-2 w-full focus:border-border-hover" />
</div> 